selenium==4.21.0
google-api-core==2.18.0
google-auth==2.29.0
googleapis-common-protos==1.63.0
importlib-metadata==4.6.4
ipykernel==6.29.4
ipython==8.23.0
opencensus-ext-logging==0.1.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
webdriver-manager==4.0.2
PyInstaller==6.11.1
